/* Ajoutons une police élégante et un fond nuancé */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1c1c1c, #2a2a2a); /* Fond noir avec nuances de gris */
    color: #f5f5f5; /* Couleur du texte clair pour contraste */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #444;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700; /* Texte en gras */
}

main {
    padding: 2rem;
    background-color: rgba(44, 44, 44, 0.8); /* Couleur de fond légèrement transparente */
    border-radius: 8px;
    margin: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.photocard {
    background-color: #2a2a2a; /* Nuance de gris plus claire */
    border: 1px solid #444;
    border-radius: 8px;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour effet d'animation */
}

.photocard:hover {
    transform: scale(1.05); /* Zoom au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée au survol */
}

.photocard img {
    max-width: 100%;
    border-radius: 8px;
}

.photocard p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ccc; /* Texte légèrement gris */
}

#wishlist ul {
    list-style-type: disc;
    padding-left: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
}

#filters {
    margin-bottom: 2rem;
    background-color: rgba(44, 44, 44, 0.8); /* Fond légèrement transparent */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
}

#filters label {
    margin-right: 1rem;
}

#filters select {
    margin-right: 2rem;
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
}
